<div id="home"><br><br>
  <center>
    <form role="search" method="get" id="searchform" class="searchform" action="/">
      <div>
      <input type="text" id="search-input" placeholder="Search an animal">
      <input type="submit" id="sign-in" value="Search">
      </div>
    </form>
  </center>

  <div class="row">

    <div class="col-md-3">
      <br><br>
      <center>
      <h5 id="title">User Profile</h5>
      <p>
        <h3 id="title-text">Favorite Species:</h3>
      </p>
      </center>
    </div>

    <div class ="col-md-9">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>Email</strong>: {{ user.userinfo.preferred_username }}
          </p>
          <p>
            <strong>Name</strong>: {{user.userinfo.given_name }}
          </p>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a> <a href="/logout"> Logout</a>
        </div>
      </div>
    </div>

  </div>
</div>